/*----------------------- Background Image -----------------------*/
.bg-img {
  width: 100%;
  margin: 0 auto;
  /*  background-image: url(../img/homeless.jpeg); */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#536f7c+0,9cc5e5+49,bcd3e5+99 */
  background: #536f7c;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #536f7c 0%, #9cc5e5 49%, #bcd3e5 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #536f7c 0%, #9cc5e5 49%, #bcd3e5 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #536f7c 0%, #9cc5e5 49%, #bcd3e5 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

/*----------------------- Form Container and Wrapper -----------------------*/
.container-login {
  width: 100%;
  /*  min-height: 100vh; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }
  .container-login::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.99); }

.wrap-login {
  width: 375px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 31px 37px 31px; }

/*----------------------- Form Logo -----------------------*/
.login-form-logo {
  font-size: 60px;
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto; }

/*----------------------- Form text -----------------------*/
.form-txt {
  font-size: 1em;
  font-weight: 500; }

/*----------------------- Form button -----------------------*/
.container-login-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.login-form-btn {
  color: #5C5656;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: none;
  font-size: 1.2em;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

.login-form-btn-red {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  width: 210px;
  border-radius: 3px;
  border-color: none;
  font-size: 1.2em;
  background-color: #FF194E;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

.login-form-btn-blue {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  width: 210px;
  border-radius: 3px;
  border-color: none;
  font-size: 1.2em;
  background-color: #12BBF1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

/*----------------------- Form input -----------------------*/
.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #ccc;
  margin-bottom: 30px; }

.input {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #5C5656;
  line-height: 1.2;
  display: block;
  width: 83%;
  height: 45px;
  background: transparent;
  /* padding: 0 5px 0 38px; */ }

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }

/*----------------------- Form input and textarea design -----------------------*/
input {
  outline: none;
  border: none; }

textarea {
  outline: none;
  border: none; }
  textarea:focus {
    border-color: transparent !important; }

input:focus {
  border-color: transparent !important; }
  input:focus::-webkit-input-placeholder, input:focus:-moz-placeholder, input:focus::-moz-placeholder, input:focus:-ms-input-placeholder {
    color: transparent; }

textarea:focus::-webkit-input-placeholder, textarea:focus:-moz-placeholder, textarea:focus::-moz-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent; }

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
  color: #5C5656; }

textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  color: #5C5656; }

label {
  margin: 0;
  display: block; }

html,
body {
  margin: 0;
  padding: 0; }

input,
button,
submit {
  border: none; }

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px; }

a {
  color: #12bbf1;
  text-decoration: none;
  font-size: 0.8em; }

.p-s-09 {
  font-size: 0.9em; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.p-t-10 {
  padding-top: 10px; }

.p-t-19 {
  padding-top: 19px; }

.p-t-40 {
  padding-top: 40px; }

.p-t-90 {
  padding-top: 90px; }

.m-b-50 {
  margin-bottom: 50px; }

.wrapper {
  width: 375px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto; }

.header {
  background-color: #12bbf1;
  padding: 3%;
  padding-bottom: 4%; }

.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: none;
  font-size: 1em; }

/*----------------------- index.html -----------------------*/
.img_background {
  background-image: url(../img/homeless.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.logo {
  width: 180px;
  height: 40px;
  background-image: url(../img/Logo.png); }

.txt_box {
  width: 110px;
  height: auto;
  text-align: center;
  padding-left: 2px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 7%;
  opacity: 0.8;
  filter: alpha(opacity=60);
  background-color: white; }

.txt_box p {
  color: #000000;
  font-size: 14px; }

.flip {
  margin: auto;
  cursor: pointer; }

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.btn-darkblue {
  background: #446B7F; }
  .btn-darkblue:hover {
    background: #365564;
    transition: all 0.3s ease; }
  .btn-darkblue:active {
    background: #18252c; }

.btn-blue {
  background: #12BBF1; }
  .btn-blue:hover {
    background: #0c9fce;
    transition: all 0.3s ease; }
  .btn-blue:active {
    background: #07607c; }

.btn-red {
  background: #FF194E;
  margin-bottom: 15%;
  margin-left: 8%;
  font-size: 1.25em; }
  .btn-red:hover {
    background: #ef0037;
    transition: all 0.3s ease; }
  .btn-red:active {
    background: #990023; }

.ctn {
  width: 100%;
  margin-top: 0; }

.c1 {
  background: #446B7F; }
  .c1:hover {
    background: #365564;
    transition: all 0.3s ease; }
  .c1:active {
    background: #18252c; }

.c2 {
  background: #446B7F;
  opacity: 0.8; }
  .c2:hover {
    background: #365564;
    transition: all 0.3s ease; }
  .c2:active {
    background: #18252c; }

.c3 {
  background: #446B7F;
  opacity: 0.6; }
  .c3:hover {
    background: #365564;
    transition: all 0.3s ease; }
  .c3:active {
    background: #18252c; }

.c4 {
  background: #446B7F;
  opacity: 0.4; }
  .c4:hover {
    background: #365564;
    transition: all 0.3s ease; }
  .c4:active {
    background: #18252c; }

.hide {
  display: none; }

#myDIV1 {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  display: none; }

#myDIV2 {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  display: none; }

#myDIV3 {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  display: none; }

#myDIV4 {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  display: none; }

.idx {
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0;
  color: white;
  text-align: center;
  padding: 7%;
  font-weight: 400;
  margin: 0; }

.innerBox {
  padding: 7%;
  font-size: 0.8em;
  text-align: justify-left;
  text-align: left; }

/*----------------------- modal newpassword.html -----------------------*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem; }

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray; }

.close-button:hover {
  background-color: darkgray; }
