/*----------------------- Background Image -----------------------*/
.bg-img {
  width: 100%;
  margin: 0 auto;
  /*  background-image: url(../img/homeless.jpeg); */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#536f7c+0,9cc5e5+49,bcd3e5+99 */
  background: #536f7c;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #536f7c 0%, #9cc5e5 49%, #bcd3e5 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #536f7c 0%, #9cc5e5 49%, #bcd3e5 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #536f7c 0%, #9cc5e5 49%, #bcd3e5 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

/*----------------------- Form Container and Wrapper -----------------------*/
.container-login {
  width: 92%;
  /*  min-height: 100vh; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }
  .container-login::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.99); }

.container-login-donation {
  width: 100%;
  /*  min-height: 100vh; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }
  .container-login-donation::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.99); }

.wrap-login {
  width: 375px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 31px 37px 31px; }

.donation-padding {
  padding: 0; }

/*----------------------- Form Logo -----------------------*/
.login-form-logo {
  font-size: 60px;
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto; }

/*----------------------- Form text -----------------------*/
.form-txt {
  font-size: 1em;
  font-weight: 500; }

/*----------------------- Form button -----------------------*/
.container-login-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.login-form-btn {
  color: #5C5656;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: none;
  font-size: 1.2em;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

.login-form-btn-red {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  width: 210px;
  border-radius: 3px;
  border-color: none;
  font-size: 1.2em;
  background-color: #FF194E;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

.login-form-btn-blue {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  width: 210px;
  border-radius: 3px;
  border-color: none;
  font-size: 1.2em;
  background-color: #12BBF1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

/*----------------------- Form input -----------------------*/
.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #ccc;
  margin-bottom: 30px; }

.input {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #5C5656;
  line-height: 1.2;
  display: block;
  width: 83%;
  height: 45px;
  background: transparent;
  /* padding: 0 5px 0 38px; */ }

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }

/*----------------------- Form input and textarea design -----------------------*/
input {
  outline: none;
  border: none; }

textarea {
  outline: none;
  border: none; }
  textarea:focus {
    border-color: transparent !important; }

input:focus {
  border-color: transparent !important; }
  input:focus::-webkit-input-placeholder, input:focus:-moz-placeholder, input:focus::-moz-placeholder, input:focus:-ms-input-placeholder {
    color: transparent; }

textarea:focus::-webkit-input-placeholder, textarea:focus:-moz-placeholder, textarea:focus::-moz-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent; }

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
  color: #5C5656; }

textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  color: #5C5656; }

label {
  margin: 0;
  display: block; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input,
button,
submit {
  border: none; }

.inline {
  display: inline-block;
  margin-right: 2%; }

#m-b-2 {
  margin-bottom: 2px; }

.p-span {
  position: relative;
  top: 10px;
  left: 21px;
  font-size: 1em; }

.dona-span {
  font-size: 1em;
  display: inline-block;
  position: relative;
  top: 10px;
  margin: 0;
  padding: 0;
  width: 30px; }

input {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: #ccc;
  line-height: 1.2;
  background: transparent;
  outline: none;
  height: 35px;
  position: relative;
  border-bottom: 2px solid #ccc;
  top: 8px; }

#dankort-nr {
  background: url(../img/logo-dankort.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: 2.5rem 1.9rem;
  padding-right: 8px;
  outline: none;
  border: none;
  position: relative;
  border-bottom: 2px solid #ccc;
  margin-bottom: -8px;
  width: 90%; }

.visa-nr {
  background: url(../img/visa.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: 3.5rem 1.2rem;
  padding-right: 8px;
  outline: none;
  border: none;
  position: relative;
  border-bottom: 2px solid #ccc;
  margin-bottom: 30px;
  width: 90%; }

input#dankort-exp-month,
input#dankort-exp-year,
input#control {
  width: 22%; }

label {
  margin: 0;
  /*   width: 100%; */
  position: relative;
  top: -8px;
  left: 10px;
  display: inline; }

#mobile-pay-img {
  max-width: 79px;
  margin-left: 100%;
  position: relative;
  top: 4px; }

#mobile-pay-nr {
  margin-top: 0; }

.into-txt {
  padding-left: 4%;
  margin-bottom: 1%;
  margin-top: 12%; }

.i-img:nth-child(2) {
  background: url(../img/information_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 25%;
  background-size: contain;
  height: 18px;
  width: 18px;
  position: relative;
  top: -26px; }

.i-img:nth-child(3) {
  background: url(../img/information_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 25%;
  background-size: contain;
  height: 18px;
  width: 18px;
  position: relative;
  top: -7px; }

.i-img:nth-child(4) {
  background: url(../img/information_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 25%;
  background-size: contain;
  height: 18px;
  width: 18px;
  position: relative;
  top: 13px; }

.infobox {
  height: auto;
  padding: 0; }

.payment-p {
  font-size: 0.8em;
  padding: 2% 7% 4% 7%;
  line-height: 1.3em; }

.checkbox-p {
  height: 20px;
  padding: 0;
  color: white; }

.left-block {
  display: inline-block;
  margin-right: 7%; }

.kategori-sections {
  margin-top: 15%;
  margin-bottom: 0%;
  font-size: 1em; }

/* @mixin div-colour($divbg) {
      background-color: $divbg;
  } */
.b1 {
  /*  @include div-colour(#446B7F); */
  background-color: #446B7F;
  padding-bottom: 8%; }

.b2 {
  background-color: #7ea6ba;
  padding-bottom: 8%; }

.b3 {
  background-color: #b2c9d6;
  padding-bottom: 8%; }

.pay {
  padding-left: 4%;
  padding-bottom: 4%; }

.kategori {
  margin-top: 0%;
  margin-bottom: -2%;
  font-size: 1em;
  margin-left: 34%;
  padding-top: 8%;
  color: black; }

.paymethod {
  padding-bottom: 5%;
  text-align: center; }

#kategori-img-dog {
  background: url(../img/dog.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 18%;
  margin-right: 4%;
  margin-left: 7%;
  display: inline-block; }

#kategori-img-hue {
  background: url(../img/hue.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 18%;
  margin-right: 3%;
  margin-left: 8%;
  display: inline-block; }

#kategori-img-tand {
  background: url(../img/tand.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 18%;
  margin-right: 1%;
  margin-left: 11%;
  display: inline-block; }

.order-overview {
  background: url(../img/notes.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 417px;
  width: 100%; }

.order-overview-container {
  height: 300px;
  width: 60%;
  margin: 0 auto; }

.container-login-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.login-form-btn {
  color: #5C5656;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: none;
  font-size: 1.2em;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

#show {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: #5c5656;
  line-height: 1.2;
  background: transparent;
  outline: none;
  height: 80px;
  border: none;
  margin-left: 0%;
  margin-bottom: 0; }

#show li {
  list-style: none;
  font-size: 0.8em;
  line-height: 1.3em; }

#count {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: #5c5656;
  line-height: 1.2;
  background: transparent;
  outline: none;
  height: 35px;
  border: none;
  margin-left: 5%;
  width: 50%;
  margin-top: -10px; }

.donation {
  padding-top: 42%;
  padding-bottom: 0;
  font-size: 1.3em; }

.order-overview-container p {
  margin: 0; }

.order-overview-container input {
  top: 0; }

#main {
  width: 100%; }

.pay {
  width: 83%;
  margin: 0 auto; }

#visa-dankort {
  position: relative;
  top: 2px; }

#choose {
  background-color: #FF194E;
  color: white;
  position: absolute;
  left: 7%;
  right: 7%;
  bottom: 3%;
  padding: 15px; }

#totalPrice {
  color: #5c5656;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif; }

#mobile-pay {
  position: relative;
  top: 2px; }

#mobile-pay-confirm.not-active {
  display: none; }

#mobile-pay-confirm {
  background-color: #5B79FF;
  border-radius: 34px;
  display: flex;
  height: 60px;
  position: relative;
  width: 74%;
  margin: 5% auto 30% auto; }

#mobile-pay-confirm.live {
  filter: grayscale(0); }

#mobile-pay-confirm div {
  background-color: #fff;
  border-radius: 28px;
  display: flex;
  height: 56px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 56px; }

#mobile-pay-confirm div p {
  align-self: center;
  color: #5B79FF;
  font-weight: 700;
  text-align: center;
  width: 100%; }

#mobile-pay-confirm div + p {
  align-self: center;
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 100%; }

#btnYes {
  margin-bottom: 20%; }

.hide {
  display: none; }

/* @import 'dashboard.scss'; */
html,
body {
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px; }

a {
  color: #12bbf1;
  text-decoration: none;
  font-size: 0.8em; }

.p-s-09 {
  font-size: 0.9em; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.p-t-10 {
  padding-top: 10px; }

.p-t-19 {
  padding-top: 19px; }

.p-t-40 {
  padding-top: 40px; }

.p-t-90 {
  padding-top: 90px; }

.m-b-50 {
  margin-bottom: 50px; }

.wrapper {
  width: 375px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto; }

.header {
  background-color: #12bbf1;
  padding: 3%;
  padding-bottom: 4%;
  z-index: 1000;
  position: relative; }

.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: none;
  font-size: 1em; }

/*----------------------- index.html -----------------------*/
.img_background {
  background-image: url(../img/people-1495855_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% -175%; }

.logo {
  width: 180px;
  height: 40px;
  background-image: url(../img/Logo.png); }

.txt_box {
  width: 110px;
  height: auto;
  text-align: center;
  padding-left: 2px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10%;
  margin-top: 24%;
  margin-left: 7%;
  opacity: 0.8;
  filter: alpha(opacity=60);
  background-color: white; }

.txt_box p {
  color: #000000;
  font-size: 14px; }

#btnSupport {
  margin-bottom: 8%; }

.flip {
  margin: auto;
  cursor: pointer; }

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.btn-darkblue {
  background: #446B7F; }
  .btn-darkblue:hover {
    background: #365564;
    transition: all 0.3s ease; }
  .btn-darkblue:active {
    background: #18252c; }

.btn-blue {
  background: #12BBF1; }
  .btn-blue:hover {
    background: #0c9fce;
    transition: all 0.3s ease; }
  .btn-blue:active {
    background: #07607c; }

.btn-green {
  background: #78BD6F; }
  .btn-green:hover {
    background: #5eb053;
    transition: all 0.3s ease; }
  .btn-green:active {
    background: #3e7636; }

.btn-red {
  background: #FF194E;
  margin-left: 8%;
  font-size: 1.1em; }
  .btn-red:hover {
    background: #ef0037;
    transition: all 0.3s ease; }
  .btn-red:active {
    background: #990023; }

.ctn {
  width: 100%;
  margin-top: 0; }

.c1 {
  background: #446B7F; }
  .c1:hover {
    background: #365564;
    transition: all 0.3s ease; }
  .c1:active {
    background: #18252c; }

.c2 {
  background: #446B7F;
  opacity: 0.8; }
  .c2:hover {
    background: #365564;
    transition: all 0.3s ease; }
  .c2:active {
    background: #18252c; }

.c3 {
  background: #446B7F;
  opacity: 0.6; }
  .c3:hover {
    background: #365564;
    transition: all 0.3s ease; }
  .c3:active {
    background: #18252c; }

.c4 {
  background: #446B7F;
  opacity: 0.4; }
  .c4:hover {
    background: #365564;
    transition: all 0.3s ease; }
  .c4:active {
    background: #18252c; }

.hide {
  display: none; }

#myDIV1 {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  display: none; }

#myDIV2 {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  display: none; }

#myDIV3 {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  display: none; }

#myDIV4 {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  display: none; }

.idx {
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0;
  color: white;
  text-align: center;
  padding: 7%;
  font-weight: 400;
  margin: 0; }

.innerBox {
  padding: 7%;
  font-size: 0.8em;
  text-align: justify-left;
  text-align: left;
  background: white; }

/*----------------------- modal newpassword.html -----------------------*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem; }

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray; }

.close-button:hover {
  background-color: darkgray; }
