$bluecolor: blue;
$mobilpaycolor: #5B79FF;
$white:white;
$green:#78BD6F;
$darkblue:#446B7F;
$b2:#7ea6ba;
$b3:#b2c9d6;
$lightblue:#12bbf1;
$lightgrey:#5C5656;
$darkgrey:#707070;
$ligthergrey:#ccc;
$black:#000000;
$red: #FF194E;

input[type=number] {

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input,
button,
submit {
    border: none;
}

.inline {
    display: inline-block;
    margin-right: 2%;
}

#m-b-2 {
    margin-bottom: 2px;
}

.p-span {
    position: relative;
    top: 10px;
    left: 21px;
    font-size: 1em;
}

.dona-span {
    font-size: 1em;
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 0;
    padding: 0;
    width: 30px;
}

input {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    color: $ligthergrey;
    line-height: 1.2;
    background: transparent;
    outline: none;
    height: 35px;
    position: relative;
    top: 8px;
}

%kvittering {
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-origin: content-box !important;
    outline: none;
    border: none;
    position: relative;
    border-bottom: 2px solid $ligthergrey;
    width: 90%;

}

#dankort-nr {
    @extend %kvittering;
    background: url(../img/logo-dankort.png);
    background-size: 2.5rem 1.9rem;
    padding-right: 8px;
    margin-bottom: -8px;
}

.visa-nr {
    @extend %kvittering;
    background: url(../img/visa.png);
    background-size: 3.5rem 1.2rem;
    padding-right: 8px;
    margin-bottom: 30px;

}

input#dankort-exp-month,
input#dankort-exp-year,
input#control {
    width: 22%;
}


label {
    margin: 0;
    /*   width: 100%; */
    position: relative;
    top: -8px;
    left: 10px;
    display: inline;
}

#mobile-pay-img {
    max-width: 79px;
    margin-left: 100%;
    position: relative;
    top: 4px;
}

#mobile-pay-nr {
    margin-top: 0;
}


.into-txt {
    padding-left: 4%;
    margin-bottom: 1%;
    margin-top: 12%;
}

.i-img {
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 25%;
    background-size: contain;
    height: 15px;
    width: 15px;
    position: relative;
    background: url(../img/information_icon.png);

    &:nth-child(2) {
        top: -35px;
    }

    &:nth-child(3) {
        top: -9px;
    }

    &:nth-child(4) {
        top: 13px;
    }
}



.infobox {
    height: auto;
    padding: 0;
}

.payment-p {
    font-size: 0.8em;
    padding: 2% 7% 4% 7%;
    line-height: 1.3em;
}

.checkbox-p {
    height: 20px;
    padding: 0;
    color: $white;
}

.left-block {
    display: inline-block;
    margin-right: 6%;
}

.kategori-sections {
    margin-top: 15%;
    margin-bottom: 0%;
    font-size: 1em;
}

%b {
    padding-bottom: 8%;
}

.b1 {
    background-color: $darkblue;
    @extend %b;
}

.b2 {
    background-color: $b2;
    @extend %b;
}

.b3 {
    background-color: $b3;
    @extend %b;
}

.pay {
    padding-left: 4%;
    padding-bottom: 4%;
}

.kategori {
    margin-top: 0%;
    margin-bottom: -2%;
    font-size: 1em;
    margin-left: 34%;
    padding-top: 8%;
    color: $white;
}

.paymethod {
    padding-bottom: 5%;
    text-align: center;
}

%billed-kategori {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    height: 100px;
    width: 18%;
    display: inline-block;
}

#kategori-img-dog {
    @extend %billed-kategori;
    background: url(../img/dog.png);
    margin-right: 4%;
    margin-left: 7%;

}

#kategori-img-hue {
    @extend %billed-kategori;
    background: url(../img/hue.png);
    margin-right: 3%;
    margin-left: 8%;

}

#kategori-img-tand {
    @extend %billed-kategori;
    background: url(../img/tand.png);
    margin-right: 1%;
    margin-left: 11%;

}

.order-overview {
    background: url(../img/notes.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 417px;
    width: 100%;
}

.order-overview-container {
    height: 300px;
    width: 60%;
    margin: 0 auto;
}

.container-login-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-form-btn {
    color: #5C5656;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1.2em;
    background-color: $white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#show {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    color: #5c5656;
    line-height: 1.2;
    background: transparent;
    outline: none;
    height: 80px;
    border: none;
    margin-left: 0%;
    margin-bottom: 0;

}

#show li {
    list-style: none;
    font-size: 0.8em;
    line-height: 1.3em;
}

#count {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    color: $lightgrey;
    line-height: 1.2;
    background: transparent;
    outline: none;
    height: 35px;
    border: none;
    margin-left: 5%;
    width: 50%;
    margin-top: -10px;
}

.donation {
    padding-top: 42%;
    padding-bottom: 0;
    font-size: 1.3em;

}

.order-overview-container p {
    margin: 0;
}

.order-overview-container input {
    top: 0;

}

#main {
    width: 100%;
}

.pay {
    width: 83%;
    margin: 0 auto;
}

#visa-dankort {
    position: relative;
    top: 2px;
}


#choose {
    background-color: $red;
    color: $white;
    position: absolute;
    left: 7%;
    right: 7%;
    bottom: 3%;
    padding: 15px;
}

#totalPrice {
    color: $lightgrey;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.mobil-btn {
    height: 90px;
    width: 100%;
    background-color: white;
    border: none;
    margin-bottom: 50px;
    font-size: 1em;
}

#mobile-pay {
    position: relative;
    top: 2px;
}

#mobile-pay-confirm.not-active {
    display: none
}

#mobile-pay-confirm {
    background-color: $mobilpaycolor;
    border-radius: 34px;
    display: flex;
    height: 60px;
    position: relative;
    width: 74%;
    margin: 5% auto 30% auto;
}

#mobile-pay-confirm.live {
    filter: grayscale(0)
}

#mobile-pay-confirm div {
    background-color: $white;
    border-radius: 28px;
    display: flex;
    height: 56px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 56px
}

#mobile-pay-confirm div p {
    align-self: center;
    color: $mobilpaycolor;
    font-weight: 700;
    text-align: center;
    width: 100%
}

#mobile-pay-confirm div+p {
    align-self: center;
    color: $white;
    display: inline-block;
    text-align: center;
    width: 100%
}

.hide {
    display: none;
}

#infoBob {
    position: relative;
}

#infoBob .infotext {
    visibility: hidden;
    width: 120px;
    font-size: 0.8em;
    background-color: $lightblue;
    color: $white;
    text-align: center;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    /* Position the tooltip */
    position: absolute;
    top: 30%;
    left: -700%;
    z-index: 1;
}

#infoBob:hover .infotext {
    visibility: visible;
}