$bluecolor: blue;
$white:white;
$lightblue:#12bbf1;
$lightgrey:#5C5656;
$darkgrey:#707070;
$black:#000000;

html,
body,
    {
    margin: 0;
    padding: 0;
}

input,
button,
submit {
    border: none;
}

body {
    background-color: $white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

@mixin font-weight($weight) {
    $weights: (light: 300,
        regular: 400,
        medium: 500,
        semi-bold: 600,
        bold: 700, )
}

a {
    color: $lightblue;
    text-decoration: none;
    font-size: 0.8em;
}

.p-s-09 {
    font-size: 0.9em;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-19 {
    padding-top: 19px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-t-90 {
    padding-top: 90px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.wrapper {
    width: 375px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.header {
    background-color: $lightblue;
    padding: 2%;
}

.img_background {
    background-image: url(../img/homeless.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-left: 5%;
}

.logo {
    width: 180px;
    height: 40px;
    background-image: url(../img/Logo.png);
}



.txt_box {
    width: 110px;
    height: auto;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10%;
    margin-top: 10%;
    opacity: 0.8;
    filter: alpha(opacity=60);
    background-color: $white;
}

.txt_box p {
    color: $black;
    font-size: 14px;
}


.flip {
    margin: auto;
    cursor: pointer;

}

#panel {
    display: none;
    cursor: auto;
    padding: 7%;
    font-size: 14px;

}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin button-bg($bg) {
    background: $bg;

    &:hover {
        background: darken($bg, 8%);
        transition: all 0.3s ease;
    }

    &:active {
        background: darken($bg, 25%);
    }
}

.btn {
    color: $white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    border-color: none;
    font-size: 1.2em;

}

.btn-darkblue {
    @include button-bg(#446B7F);

}

.btn-blue {
    @include button-bg(#12BBF1);

}

.btn-red {
    @include button-bg(#FF194E);
    margin-bottom: 5%;
}


.ctn {
    width: 100%;
    height: 55px;
    text-align: center;
    color: $white;
    padding-top: 45px;
    font-size: 1.3em;
    font-weight: 100;
}

.c1 {
    @include button-bg(#446B7F);

}

.c2 {
    @include button-bg(#446B7F);
    opacity: 0.8;

}

.c3 {
    @include button-bg(#446B7F);
    opacity: 0.6;
}

.c4 {
    @include button-bg(#446B7F);
    opacity: 0.4;
}