$dark-grey: #333;
$light-grey: #5c5c5c;

* {
  font-size: 24px;
  margin: 0 auto;
}
body {
  width: 100vw;
  position: relative;
  div.block4 {
    width: 80%;
    background-color: #ccc; // need bg color code
    padding-bottom: 20px; // need padding setting
    * {
      width: 100%;
    }
    div.step {
      height: 40px;
      background-color: black;
      border-radius: 5px;
      color: white;
      text-align: center;
      display: flex;
      p {
        align-self: center;
      }
    }
    .explaination {
      font-weight: normal;
      width: 90%;
      margin-left: 0;
      margin-bottom: 0.3em;
      font-size: 18px;
    }
    h4 {
      font-size: 18px;
      margin-top: 0.9em;
      margin-bottom: 0.5em;
      font-weight: normal;
    }
    div {
      height: 60px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 10px;
      label {
        font-size: 18px;
        position: absolute;
        top: 19px;
        left: 5%;
        transition: all 0.3s ease-out;
        transform-origin: top left;
        color: $light-grey;
      }
      input {
        color: $light-grey;
        height: 60px;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: white;
        padding-top: 5px;
        padding-left: 5%;
        font-size: 18px;
        &:focus {
          outline: none;
        }
        &:invalid:not(:placeholder-shown) {
          color: red;
        }
        &:focus + label,
        &[class] + label {
          transform-origin: left top;
          transform: scale(0.6) translateY(-25px); // -25 is temp solution, move the label up a bit so that it doesn't cover the input field
          color: $light-grey;
        }
        &.false + label {
          color: red;
        }
      }
      /* For Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      /* Webkit browsers like Safari and Chrome */
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      #by {
        position: relative;
        top: -44px;
        left: 8ch;
        font-size: 18px;
        color: #5c5c5c;
      }
    }
    button.not-active {
      display: none; // by default hide submit button, turn it on using JS when all fields passed local validations
    }
    .explaination {
      font-size: 12px;
      color: $light-grey;
    }
    input[type="radio"] {
      visibility: hidden; // hide radio button, keep label
    }
    div.pay {
      overflow: hidden;
      height: 45px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 15px;
      padding: 0 10%;
      background-color: white;
      border-radius: 5px;
      transition: height 0.3s ease-out;

      input[type="radio"] {
        height: 50px;
        & ~ .payment-label-around-div {
          width: 90%;
          margin-left: 5%;
        }
      }
      label:not(.payment-label-around-div) {
        transition: none;
        color: black; // this should be black?
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 5%;
        text-align: left;
        display: flex;
        p {
          font-size: 18px;
          align-self: center;
        }
      }
      .payment-label-around-div {
        display: none;
        left: 0;
        top: 70px;
        p {
          font-size: 24px;
          width: 100%;
          height: 30px;
          border-bottom: none;
          font-weight: 100;
          &:nth-of-type(1):not(#mobile-pay-p) {
            margin-top: 20px;
          }
          &:nth-of-type(2):not(#mobile-pay-p) {
            margin-top: 20px; // move the input area lower. temp solution
          }
          &:nth-of-type(3):not(#mobile-pay-p) {
            margin-top: 10px; // move the input area lower. temp solution
          }
          &:last-of-type:not(#mobile-pay-p) {
            // the CVV line, move up and right. temp solution
            width: 4ch;
            position: relative;
            top: -36px;
            left: 40%;
          }
          input {
            font-size: 16px;
            height: 20px;
            border-bottom: 1px dotted $light-grey;
            border-radius: 0;
          }
          &#mobile-pay-p input {
            width: 70%;
            height: 30px;
            font-size: 24px;
            padding: 6px 25px;
            border: 1px solid $light-grey;
            border-radius: 21px;
          }
        }
        input.digit2 {
          width: 3ch;
        }
        input.digit4 {
          width: 4.1ch;
        }
        input.digit2 + span {
          width: 3ch;
        }
      }
      input {
        padding-left: 0;
      }
    }
    div.pay input[type="number"] + label {
      display: none;
      pointer-events: none;
    }
    // .payment-label-around-div ~ input[type="number"] {
    //   display: inherit;
    //   position: relative;
    //   top: -50px;
    // }
    // div.pay input[type="radio"]:checked ~ input[type="number"] + label {
    //   display: inherit;
    // }
    div.pay span.imgs {
      position: absolute;
      text-align: right;
      right: 3%;
      top: 7px;
    }
    div.pay img {
      width: 40px;
      margin-right: 3px;
      vertical-align: middle;
    }
    img#mobile-pay-img {
      width: 80px;
      margin: 0 auto 0 15px;
    }
    div.pay img.filler {
      visibility: hidden;
    }
    label[for="giro-check"] {
      display: flex;
      * {
        align-self: center;
      }
      span {
        font-size: 16px;
      }
    }
    #giro-check {
      width: 30px;
      display: none;
    }
    span.close {
      display: inline-block;
      width: auto;
      position: absolute;
      right: 0;
      top: 0;
      text-align: right;
      cursor: pointer;
    }
  }
  #mobile-pay-confirm.not-active {
    display: none;
  }
  #mobile-pay-confirm {
    filter: grayscale(0.7);
    width: 100%;
    height: 60px;
    border-radius: 34px;
    margin-top: 20px;
    background-color: #596aa3;
    position: relative;
    display: flex;
  }
  #mobile-pay-confirm.live {
    filter: grayscale(0);
  }
  #mobile-pay-confirm div {
    height: 56px;
    width: 56px;
    border-radius: 28px;
    position: absolute;
    top: -6px;
    left: 2px;
    background-color: white;
    display: flex;
    p {
      width: 100%;
      // temp solution, should use real check mark instead of >
      color: #596aa3;
      font-weight: bold;
      align-self: center;
      text-align: center;
    }
  }
  #mobile-pay-confirm div + p {
    width: 100%;
    color: white;
    display: inline-block;
    align-self: center;
    text-align: center;
  }
}
h1 {
  // temp for demo, don't need this setting in the final solution
  color: $light-grey;
  margin: 1em auto;
}
